<form>
  <header>
    <span class="header">{{'statistic.header'|translate}}</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="screen">
        <div class="screen_table">
          <table class="table">
            <thead class="table_header">
              <th>
                <p>{{'statistic.tableHeader'|translate}}</p>
              </th>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <ng-container *ngFor="let u of user">
                <tr class="table_line">
                  <td class="line">{{u.name}}</td>
                  <td class="line">{{u.amount}} €</td>
                  <td class="line button" (click)="periodDialog('User', u)"><span class="material-icons">info</span></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="group_button">
          <button class="button_group" (click)="periodDialog('Group', null)"><span>{{'statistic.button'|translate}}</span></button>
        </div>
      </div>
    </div>
  </body>
</form>
