<form>
  <header>
    <span class="header_name">Mein Konto</span>
  </header>
  <body>
    <div class="container">
      <div class="screen">
        <div class="picture">
          <img alt="Bild der jeweiligen Person">
        </div>
        <div class="column">
          <div class="info">
            <label class="label">Vorname:</label><br>
            <input type="text" id="UserName" value="firstname"name="fname"><br><br>
            <label class="label">Nachname:</label>
            <input type="text" id="UserName2" value="lastname"name="lname"><br><br>
            <label class="label">E-Mail:</label>
            <input type="text" id="UserEmail" value="email"name="email"><br><br>
          </div>
        </div>
      </div>
    </div>
    <div class="button">
      <tr>
        <button type="button" ide="profile">Speichern</button>
        <button type="button" ide="profile">Zurück</button>
      </tr>
    </div>
  </body>
</form>


