<form>
  <header>
    <span class="header_name">Mein Konto</span>
  </header>
  <body>
  <div class="container">
    <div class="screen">
      <form action="field">
        <label for="fname">Vorname</label><br>
        <input type="text" id="fname" name="fname" value="Test"><br>
        <label for="lname">Nachname</label><br>
        <input type="text" id="lname" name="lname" value="Test"><br><br>
        <label for="lname">E-Mail Adresse</label><br>
        <input type="text" id="email" name="email" value="E-Mail"><br>
        <input type="submit" value="Speichern">
        <input type="reset">
      </form>
    </div>
  </div>
  </body>
</form>

