<form>
  <header>
    <span class="header_name">Mein Konto</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
    <form (ngSubmit)="saveEditUser(editProfileForm)" #editProfileForm="ngForm">
      <div class="container">
        <div class="screen">
          <div class="picture">
            <input name="image" (change)="onChange($event)" type="file" class="input_file" id="inputImage" ngModel placeholder="Logo" accept="image/png, image/jpeg">
            <img [src]="this.image" width="200px" height="200px" alt="">
          </div>
          <div class="column">
            <div class="info">
              <label class="label">Vorname:</label><br>
              <input type="text" id="UserName" name="firstName" placeholder="Vorname" value="{{user.firstName}}"><br><br>
              <label class="label">Nachname:</label>
              <input type="text" id="UserName2" name="lastName" placeholder="Nachname" value="{{user.lastName}}"><br><br>
              <label class="label">E-Mail:</label>
              <input type="text" id="UserEmail" name="email" placeholder="E-Mail" value="{{user.email}}"><br><br>
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <tr>
          <button type="button">Speichern</button>
        </tr>
      </div>
    </form>
  </body>
</form>


