<form>
  <header>
    <div class="row">
      <div class="column_burger">
        <span class="material-icons burgerMenu" (click)="openMenu()">menu</span>
      </div>
      <div class="column_menu">
        <span class="header_groupname">Teddybär Bande</span>
      </div>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="screen">
        <div class="button">
          <button type="button" (click)="ausgaben()"><span class="group_expenditures">Ausgaben</span></button>
          <button type="button" (click)="nofunction()"><span class="group_categories">Kategorien</span></button>
          <button type="button" (click)="nofunction()"><span class="group_statistics">Statistik</span></button>
        </div>
        <div class="picture">
          <img src='https://static.yoursurprise.com/galleryimage/c0/c073953ab71828a7741820d013ac9a9d/kuscheltier-mit-namen-aufblasbar_5.jpg?width=250&crop=1%3A1'>
        </div>
        <ul class="sidebar">
          <div class="pages_menu">
            <button type="button" (click)="nofunction()"><span class="group_history material-icons">edit</span></button>
            <button type="button" (click)="nofunction()"><span class="group_history material-icons">add</span></button>
            <button type="button" (click)="nofunction()"><span class="group_history material-icons">delete</span></button>
            <button type="button" (click)="history()"><span class="group_history material-icons">history</span></button>
          </div>
        </ul>
        <table class="user_table">
          <thead>
            <tr>
              <th class="user_table_header">
                <p>Gruppenmitglieder:</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let u of users">
              <tr class="user_table_line">
                <td class="user_name">{{u.name}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</form>
