<form (ngSubmit)="save(signInForm)" #signInForm="ngForm">
  <h1 class="header_Text">{{'notification.header'|translate}}</h1>
  <mat-slide-toggle ngModel name="acceptTerms">E-Mail</mat-slide-toggle>
  <div class="row">
    <div class="column_save">
      <button type="submit"><span class="material-icons">save</span></button>
    </div>
    <div class="column_close">
      <button type="button" id="close" (click)="closePopUp()"><span class="group_create material-icons">close</span></button>
    </div>
  </div>
</form>
