<form>
  <header>
    <span class="header_name">Kategorien</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="screen">
        <div class="screen_table">
          <table class="table">
            <tr>
              <th class="table_header">Kategorie</th>
              <th class="table_header">Beschreibung</th>
              <th class="table_header">Löschen</th>
            </tr>
            <ng-container *ngFor="let c of categorys$ | async">
              <tr>
                <td class="table_line"><span class="material-icons">{{c.iconName}}</span></td>
                <td class="table_line">{{c.name}}</td>
                <td class="table_line"><button type="button" id="delete_1" class="button_delete" (click)="delete(c.categoryId)"><span class="material-icons">delete</span></button></td>
              </tr>
            </ng-container>
          </table>
        </div>
        <div class="button_add">
          <button type="button" id="add" (click)="add()"><span class="group_create material-icons">add_circle_outline</span></button>
        </div>
      </div>
    </div>
  </body>
</form>


