<form>
  <header>
    <span class="header_hauptmenu">{{'main.header'| translate}}</span>
    <span class="material-icons burgerMenu">
      <app-menu-view></app-menu-view>
    </span>
  </header>
  <body>
    <div class="container">
      <div class="screen">
        <ng-container *ngFor="let g of userGroups$ | async">
          <button type="button" id="Group{{g.id}}" class="screen_background_shape screen_group_{{g.viewPosition}}" (click)="openGroup(g.id)"><span class="group">{{g.groupName}}</span></button>
        </ng-container>
        <ng-container *ngIf="groupAddPosition<7">
          <button mat-raised-button class="screen_group_{{groupAddPosition}}" type="button" id="secondRowCreate" (click)="createGroupDialog()"><span class="material-icons icon">add_circle_outline</span></button>
        </ng-container>
      </div>
    </div>
  </body>
</form>
