* {
  box-sizing: border-box;
}

.header_name {
  position: absolute;
  width: 98%;
  top: 3%;
  text-align: center;
  color: black;
  font-size: 300%;
  font-family: Raleway, sans-serif;
}

.burgerMenu{
  position: absolute;
  top: 3%;
  left: 3%;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.pages_menu {
  width: 100%;
  text-align: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: absolute;
  top: 10%;
  height: 85%;
  width: 90%;
}

.button{
  position: absolute;
  top: 83%;
  left: 62%;
  width: 40%;
}

#imprint {
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-spacing: 50px 10px;
  width: 40%;
  height: 70%;
  position: absolute;
  top: 12%;
  left: 28.5%;
  overflow-y: scroll;
  text-align: center;
}

