* {
  box-sizing: border-box;
}

.header_name {
  position: absolute;
  width: 98%;
  top: 15px;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Raleway, sans-serif;
}

.new_password_submit {
  background: #fff;
  font-size: 16px;
  padding: 16px 20px;
  border-radius: 20px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4C489D;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
  outline: none;
  position: relative;
}

.new_password_submit:active,
.new_password_submit:focus,
.new_password_submit:hover {
  border-color: #6A679E;
  outline: none;
}

/* Cancel Button */
.new_password_cancel {
  background: #fff;
  font-size: 16px;
  padding: 16px 20px;
  border-radius: 20px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4C489D;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
  outline: none;
  position: relative;
}

.pages_menu {
  width: 50%;
  text-align: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: absolute;
  top: 65px;
  height: 730px;
  width: 1260px;
  box-shadow: 0px 0px 24px #5C5696;
}

.input_field {
  z-index: 1;
  position: relative;
  height: 100%;
  top: 8%;
  left: 15%;
  width: 70%;
}

div {
  border-radius: 5px;
  padding: 20px;
}

.button{
  text-align: center;
  top: 30%;
  left: 38%;
  width: 70%;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}


