<form>
  <header>
    <span class="header_name">Kategorien</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
  <ng-container>
    <div class="container">
      <div class="screen">
        <label *ngFor="let c of categories$| async">{{c.categorie}}</label>
        <div class="column">
        </div>
      </div>
    </div>
    <div class="button">
      <tr>
        <button type="button" ide="profile" (click)="add()">Hinzufügen</button>
      </tr>
    </div>
  </ng-container>
  </body>
</form>


