<form>
  <header>
    <span class="header_gtc">{{'privacy.header'|translate}}</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
  <div class="container">
    <div class="screen">
      <details>
        <summary>{{'privacy.info'|translate}}</summary>
        <p>{{'privacy.Datenschutzerklärung-text'|translate}}</p>
      </details>
      <details>
        <summary>{{'privacy.Informationen über uns als Verantwortliche'|translate}}</summary>
        <p>{{'privacy.Verantwortliche'|translate}} </p>
        <li> {{'privacy.GmbH'|translate}} </li>
        <li> {{'privacy.Straße'|translate}}</li>
        <li> {{'privacy.Ort'|translate}}</li>
        <li> {{'privacy.Land'|translate}}</li>
        <li>{{'privacy.Telefon'|translate}} </li>
        <li>{{'privacy.Fax'|translate}} </li>
        <li> {{'privacy.Email'|translate}}</li>
        <li> {{'privacy.Datenschutzbeauftragter'|translate}}</li>
        <li> {{'privacy.Name'|translate}}</li>
        <li> {{'privacy.Straße2'|translate}}</li>
        <li> {{'privacy.Ort'|translate}}</li>
        <li> {{'privacy.Land'|translate}}</li>
        <li> {{'privacy.Telefon2'|translate}}</li>
        <li> {{'privacy.Telefax'|translate}}</li>
        <li> {{'privacy.E-Mail'|translate}}</li>
      </details>
      <details>
        <summary>{{'privacy.Überschrift 2'|translate}} </summary>
        <p>  {{'privacy.Text2'|translate}} </p>
        <li> {{'privacy.Recht1'|translate}} </li>
        <li> {{'privacy.Recht2'|translate}}</li>
        <li> {{'privacy.Recht3'|translate}}</li>
        <li> {{'privacy.Recht4'|translate}}</li>
        <li>{{'privacy.Recht5'|translate}} </li>
        <p>{{'privacy.Text2.2'|translate}} </p>
        <p>{{'privacy.Text2.1'|translate}} </p>
      </details>
      <details>
        <summary>{{'privacy.Überschrift 3'|translate}} </summary>
        <p>  {{'privacy.Text 3'|translate}} </p>
      </details>
      <details>
        <summary>{{'privacy.Überschrift 4'|translate}} </summary>
        <p>  {{'privacy.Text 4'|translate}} </p>
      </details>
      <details>
        <summary>{{'privacy.Überschrift 5'|translate}} </summary>
        <p>  {{'privacy.Text 5.1'|translate}} </p>
        <p>{{'privacy.Text 5.2'|translate}} </p>
        <p>{{'privacy.Text 5.3'|translate}} </p>
      </details>
      <details>
        <summary>{{'privacy.Überschrift 6'|translate}} </summary>
        <p>  {{'privacy.Text 6'|translate}} </p>
      </details>
      <details>
        <summary>{{'privacy.Überschrift 7'|translate}} </summary>
        <p>  {{'privacy.Text 7'|translate}} </p>
      </details>
      <details>
        <summary>{{'privacy.Überschrift 8'|translate}} </summary>
        <p>  {{'privacy.Text 8'|translate}} </p>
      </details>
      <details>
        <summary>{{'privacy.Überschrift 9'|translate}} </summary>
        <p>  {{'privacy.Text 9'|translate}} </p>
      </details>
    </div>
  </div>
  </body>
</form>
