<form>
  <div class="container">
    <div class="screen">
      <header>
        <div class="screen_content">
          <form class="register">
            <span class="header_Text">Registrierung</span>
            <div class="row">
              <div class="column">
                <div class="input_field">
                  <input type="text" class="input_field" id="newUserFirstName" placeholder="Vorname" name="firstname">
                </div>
                <div class="input_field">
                  <input type="text" class="input_field" id="newUserLastName" placeholder="Nachname" name="lastname">
                </div>
                <div class="input_field">
                  <input type="email" class="input_field" id="newUserEmail" placeholder="E-Mail" name="email">
                </div>
              </div>
              <div class="column">
                <div class="input_field">
                  <input type="password" class="input_field" id="newUserPassword" placeholder="Passwort" name="password">
                </div>
                <div class="input_field">
                  <input type="password" class="input_field" id="newUserPasswordreplay" placeholder="Passwort Wiederholung" name="password">
                </div>
                <button type="button" class="button register_submit" id="register">
                  <span class="button_text">Registrieren</span>
                </button>
                <button type="button" class="button register_cancel" id="cancel">
                  <span class="button_text">abbrechen</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </header>
      <body>
        <div class="screen_background">
          <span class="screen_background_shape screen_background_shape4"></span>
          <span class="screen_background_shape screen_background_shape3"></span>
          <span class="screen_background_shape screen_background_shape2"></span>
          <span class="screen_background_shape screen_background_shape1"></span>
        </div>
      </body>
    </div>
  </div>
</form>
