<form class="createExpenses" (ngSubmit)="createExpenses(newExpensesForm)" #newExpensesForm="ngForm">
  <h1 class="header_Text">{{'expenses.addExpenses'| translate}}</h1>
  <div class="column_category">
    <div class="row">
      <div class="column">
        <label for="category"><p>{{'expenses.category'| translate}}</p></label>
      </div>
      <div class="column">
        <select name="subject" id="category" form="formular1" class="category_menu" ngModel>
          <option value="noSelection"></option>
          <option value="Rent">{{'expenses.rent'| translate}}</option>
          <option value="Purchasing">{{'expenses.purchasing'| translate}}</option>
        </select>
      </div>
    </div>
  </div>
  <div>
    <div class="column_expenses">
      <input name="amount" type="text" class="input_field" id="Expenses_price" ngModel placeholder="{{'expenses.amount'| translate}}">
    </div>
    <div class="column_price">
      <input name="date" type="text" class="input_field" id="Expenses_date" ngModel placeholder="{{'expenses.date'| translate}}">
    </div>
  </div>
  <div>
    <div class="row_button">
      <div class="column_save">
        <button type="submit"><span class="material-icons">add</span></button>
      </div>
      <div class="column_close">
        <button type="button" (click)="closeExpenses()"><span class="material-icons">close</span></button>
      </div>
    </div>
  </div>
</form>
