.mat-menu-content {
  width: 500px !important;
}

.logout {
  color: #FD0303;
}

.container {
 padding: 5%;
}

.column {
  float: left;
  width: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.MenuTrigger{
  background: none;
  padding: 5px 22px;
  border-radius: 0px;
  border: none;
  display: flex;
  box-shadow: 0px 2px 2px transparent;
  cursor: pointer;
  transition: .0s;
}

.column_setting_menu {
  float: left;
  width: 105%;
}
