::ng-deep.mat-menu-content {
  width: 220px !important;
}

.logout {
  color: #FD0303;
  text-align:center
}

.container {
 padding: 5%;
}

.column {
  float: left;
  width: 20%;
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column_setting_menu {
  float: left;
  text-align: left;
  width: 80%;
}
.column_setting_menu.mat-menu-item{
  xPosition: below;
}

