<span class="material-icons burgerMenu" [matMenuTriggerFor]="menu">menu</span>
<mat-menu #menu="matMenu">
  <div class="container">
    <div class="row" (click)="moveToProfile()">
      <div class="column">
          <span class="material-icons">
            account_circle
          </span>
      </div>
      <div class="column">
        <p>Profil</p>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <span class="material-icons">
          settings
        </span>
      </div>
      <div class="column_setting_menu">
        <p mat-menu-item [matMenuTriggerFor]="settings">Einstellung</p>
      </div>
    </div>
    <hr>
    <h1 class="logout" (click)="logout()">Logout</h1>
  </div>
</mat-menu>

<mat-menu #settings="matMenu">
  <div class="container">
    <h1 class="header">Hilfe & Einstellungen</h1>
    <div class="row" (click)="openFAQ()">
      <div class="column">
          <span class="material-icons">
            quiz
          </span>
      </div>
      <div class="column">
        <p>FAQ</p>
      </div>
    </div>
    <div class="row" (click)="openAGB()">
      <div class="column">
          <span class="material-icons">
            assignment
          </span>
      </div>
      <div class="column">
        <p>AGB</p>
      </div>
    </div>
    <div class="row" (click)="openDatenschutz()">
      <div class="column">
          <span class="material-icons">
            privacy_tip
          </span>
      </div>
      <div class="column">
        <p>Datenschutz</p>
      </div>
    </div>
    <div class="row" (click)="openImpressum()">
      <div class="column">
          <span class="material-icons">
            description
          </span>
      </div>
      <div class="column">
        <p>Impressum</p>
      </div>
    </div>
  </div>
</mat-menu>
