* {
  box-sizing: border-box;
}

.header_ausgaben {
  color: black;
  font-size: 40px;
  width: 150px;
  font-family: Raleway, sans-serif;
  position: center;
}

.column_menu {
  position: absolute;
  top: 25px;
  right: 600px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: absolute;
  top: 65px;
  height: 730px;
  width: 1260px;
  box-shadow: 0px 0px 24px #5C5696;
}

.screen_content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.issues_table {
  font-size: x-large;
  border-collapse: collapse;
  border-spacing: 50px 10px;
  border-width: thin 0 0 thin;
  margin: 0 0 1em;
  table-layout: auto;
  max-width: 100%;
  width: 550px;
  padding: .3em .5em;
  position: absolute;
  text-align: center;
  height: 550px;
  top: 45px;
  right: 400px;
}

.issues_table_header {
  border: thin solid white;
  padding: .4em .6em;
  background: gray;
  font-weight: 700;
  text-align: center;
}

.issues_table_line {
  font-weight: 400;
  text-align: center;
}

.issues_subject {
  text-align: left;
  padding: .4em .6em;
  border: thin solid white;
}

.issues_amount {
  padding: .4em .6em;
  border: thin solid white;
}

.issues_currency {
  padding: .4em .6em;
  border: thin solid white;
}

.issues_date {
  padding: .4em .6em;
  border: thin solid white;
}
