* {
  box-sizing: border-box;
}

.header_ausgaben {
  position: absolute;
  width: 98%;
  top: 15px;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Raleway, sans-serif;
}

.column_menu {
  position: absolute;
  top: 25px;
  right: 600px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: absolute;
  top: 65px;
  height: 730px;
  width: 1260px;
  box-shadow: 0px 0px 24px #5C5696;
}

.screen_content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen_issues {
  position: absolute;
  top: 65px;
  height: 550px;
  width: 550px;
  right: 25%;
  font-size: 18px;
  box-shadow: 0px 0px 24px #5C5696;
  overflow-y: scroll;
}

.issues_table {
  font-size: x-large;
  border-collapse: collapse;
  border-width: thin 0 0 thin;
  margin: 0 0 1em;
  table-layout: auto;
  max-width: 100%;
  width: 550px;
  height: 550px;
  top: 45px;
  right: 400px;
  font-size: 18px;
}

.issues_table_header {
  border: thin solid black;
  background: white;
  font-weight: 700;
  text-align: center;
}

.issues_table_line {
  font-weight: 400;
  text-align: center;
}

.issues_subject {
  text-align: left;
  padding: .4em .6em;
  border: thin solid black;
  background: white;
}

.issues_amount {
  padding: .4em .6em;
  border: thin solid black;
  background: white;
}

.issues_currency {
  padding: .4em .6em;
  border: thin solid black;
  background: white;
}

.issues_date {
  padding: .4em .6em;
  border: thin solid black;
  background: white;
}

.button_add {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.button_back {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.input_field {
  padding: 10px 0px;
  position: relative;
}

.input_field:active,
.input_field:focus,
.input_field:hover {
  outline: none;
  border-bottom-color: #6A679E;
}
