<form>
  <header>
    <div class="row">
      <div class="column_menu">
        <span class="header_ausgaben">Alle Ausgaben</span>
      </div>
    </div>
  </header>
  <body>
  <div class="container">
    <div class="screen">
      <div class="button">
        <button type="button" (click)="back()"><span class="group_create material-icons">arrow_back</span></button>
        <button type="button" (click)="add()"><span class="group_create material-icons">add</span></button>
      </div>
    </div>
  </div>
  </body>
</form>
