* {
  box-sizing: border-box;
}

.input_field {
  font-size: 120%;
 padding: 2%;
 position: relative;
}

.input_field:active,
.input_field:focus,
.input_field:hover {
 outline: none;
 border-bottom-color: #6A679E;
}

.header_Text {
  color: #7875B5;
  text-shadow: black;
  font-size: 220%;
}

.column_save {
  right: 10%;
  top: 10%;
  width: 25%;
}

.column_close {
  right: 10%;
  top: 10%;
  width: 25%;
}

.column_emojis{
  right: 10%;
  top: 10%;
  width: 25%;
}

.row:after {
  float: right;
}
