<form>
  <div class="container">
    <div class="screen">
      <header>
        <div class="screen_content">
          <div class="login">
            <form (ngSubmit)="loginUser(signInForm)" #signInForm="ngForm">
              <span class="header_Text">Bei dasistcool anmelden</span>
              <div class="input_field form-floating">
                <input name="email" type="email" class="input_field form-control" id="UserEmail" ngModel placeholder="E-Mail">
              </div>
              <div class="input_field">
                <div class="form-floating">
                  <input name="password" type="{{showPassword ? 'text' : 'password' }}" class="input_field form-control" id="UserPassword" ngModel placeholder="Password">
                  <button type="button" class="show_passwort material-icons" (click)="togglePassword()">{{showPassword ? 'visibility_off' : 'visibility' }}</button>
                </div>
              </div>
              <button type="submit" class="button login_submit" id="login" > <!--(click)="loginUser()"-->
                <span class="button_text">Login</span>
              </button>
              <button type="button" class="button new_password_submit" id="password" (click)="newPassword()">
                <span class="button">Passwort vergessen?</span>
              </button>
              <button type="button" class="button register_submit" id="register" (click)="newUser()">
                <span>Registrieren</span>
              </button>
            </form>
          </div>
        </div>
      </header>
      <body>
        <div class="screen_background">
          <span class="screen_background_shape screen_background_shape4"></span>
          <span class="screen_background_shape screen_background_shape3"></span>
          <span class="screen_background_shape screen_background_shape2"></span>
          <span class="screen_background_shape screen_background_shape1"></span>
        </div>
      </body>
    </div>
  </div>
</form>
