<form>
  <header>
    <span class="header_name">{{'profile.acc'| translate}}</span>
    <span class="material-icons burgerMenu">
      <app-menu-view></app-menu-view>
    </span>
  </header>
  <body>
    <ng-container>
      <div class="container">
        <div class="screen">
          <div class="picture">
<!--            <img src={{user.image}} alt="{{'profile.imgMsg'| translate}}">-->
          </div>
          <div class="column">
            <div class="info">
              <label class="label" translate="forename"></label><br>
              <label type="text" id="UserName" name="fname">{{user.firstName}}</label><br><br>
              <label class="label"translate="surname"></label><br>
              <label type="text" id="UserName2" name="lname">{{user.lastName}}</label><br><br>
              <label class="label"translate="email"></label><br>
              <label type="text" id="UserEmail" name="email">{{user.email}}</label><br><br>
            </div>
              <div class="button_left">
              <tr>
                <button type="button" ide="profile" (click)="joinGroupDialog()" translate="profile.join"></button>
                <button type="button" ide="profile" (click)="moveToEditProfile()" translate="profile.edit"></button>
              </tr>
              </div>
              <div class="button_right">
              <button type="button" ide="profile" (click)="moveToEditPassword()" translate="profile.changePw"></button>
              <button type="button" ide="profile" (click)="deleteProfile()" translate="profile.deleteAcc"></button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </body>
</form>


