<form>
  <header>
    <span class="header_name">Mein Konto</span>
  </header>
  <body>
    <ng-container *ngFor="let p of profile">
      <div class="container">
        <div class="screen">
          <div class="picture">
            <img src={{p.image}} alt="Bild der jeweiligen Person">
          </div>
          <div class="column">
          <div class="info">
            <label class="label">Vorname:</label><br>
            <input type="text" id="UserName" value="{{p.firstName}}"name="fname"><br><br>
            <label class="label">Nachname:</label>
            <input type="text" id="UserName2" value="{{p.lastName}}"name="lname"><br><br>
            <label class="label">E-Mail:</label>
            <input type="text" id="UserEmail" value="{{p.email}}"name="email"><br><br>
          </div>
        </div>
        </div>
      </div>
          <div class="button">
            <tr>
              <button type="button" ide="profile" (click)="moveToEditProfile()">bearbeiten</button>
              <button type="button" ide="profile" (click)="moveToEditPassword()">Passwort ändern</button>
              <button type="button" ide="profile" (click)="deleteProfile()">Konto löschen</button>
            </tr>
          </div>
    </ng-container>
  </body>
</form>


