<form>
  <div class="container">
    <div class="screen">
      <header>
        <div class="screen_content">
          <form class="password-forgotten">
            <span class="header_Text">Passwort zurücksetzen</span>
            <div class="input_field">
              <input type="email" class="input_field" id="newForgottenEmail" placeholder="E-Mail">
            </div>
            <div class="input_field">
              <input type="{{showPassword ? 'text' : 'password' }}" class="input_field" id="newForgottenPassword" placeholder="Neues Passwort">
              <button type="button" class="show_passwort material-icons" (click)="togglePassword()">{{showPassword ? 'visibility' : 'visibility_off' }}</button>
            </div>
            <div class="input_field">
              <input type="{{showPasswordReplay ? 'text' : 'password' }}" class="input_field" id="newForgottenPasswordreplay" placeholder="Neues Passwort wiederholen">
              <button type="button" class="show_passwort material-icons" (click)="togglePasswordReplay()">{{showPasswordReplay ? 'visibility' : 'visibility_off' }}</button>
            </div>
            <div>
              <label class="sicherheit_Header">Sicherheitsfrage:
                <span class="sicherheit_Text">Wählen Sie 1 Frage aus!</span>
                <select name="Sicherheitsfrage" form="formularid" class="sicherheit_menu">
                  <option value="questionA">In welcher Stadt bzw. an welchem Ort wurden Sie geboren?</option>
                  <option value="questionB">Wie lautet der zweite Vorname Ihrer ältesten Schwester bzw. Ihres ältesten Bruders?</option>
                  <option value="questionC">Welches war Ihr erstes Konzert, das Sie besucht haben?</option>
                  <option value="questionD">Geben Sie Marke und Modell Ihres ersten Autos an.</option>
                  <option value="questionE">In welcher Stadt bzw. welchem Ort haben sich Ihre Eltern kennengelernt?</option>
                </select>
                <div class="sicherheit_field">
                  <input type="text" class="sicherheit_field" id="Sicherheitsfrage" placeholder="Sicherheitsfrage" autocomplete="off">
                </div>
              </label>
            </div>
            <div class="row_button">
              <div class="column_button">
                <button type="button" class="button new_password_submit" id="login" onclick="this.classList.toggle('button-loading')" (click)="savePassword()">
                  <span class="button_text">speichern</span>
                </button>
              </div>
              <div class="column_button">
                <button type="button" class="button new_password_cancel" id="password" (click)="cancel()">
                  <span class="button">abbrechen</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </header>
      <body>
        <div class="screen_background">
          <span class="screen_background_shape screen_background_shape6"></span>
          <span class="screen_background_shape screen_background_shape5"></span>
          <span class="screen_background_shape screen_background_shape4"></span>
          <span class="screen_background_shape screen_background_shape3"></span>
          <span class="screen_background_shape screen_background_shape2"></span>
          <span class="screen_background_shape screen_background_shape1"></span>
        </div>
      </body>
    </div>
  </div>
</form>
