<form>
  <header>
    <span class="header_ausgaben">{{'expenses.headerExp'|translate}}</span>
    <div class="button_back">
      <button type="button" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="screen">
        <div class="button_add">
          <button type="button" (click)="add()"><span class="material-icons">add</span></button>
        </div>
        <div class="screen_expenses">
          <table class="expenses_table">
            <thead class="expenses_table_header">
              <th>
                <p>{{'expenses.expenses'|translate}}</p>
              </th>
              <th></th>
              <th>
                <!-- Anderer Sprint! -->
                <!--<input type="text" class="input_field" id="expenses_search" placeholder="Suche">-->
              </th>
              <!--<th></th>-->
            </thead>
            <tbody>
              <ng-container *ngFor="let e of expenses$ | async">
                <tr class="expenses_table_line">
                  <td class="expenses_line_subject">{{e.subject}}</td>
                  <td class="expenses_line">{{e.amount}} €</td>
                  <td class="expenses_line">{{e.date}}</td>
                  <!-- Anderer Sprint! -->
                  <!--<td class="expenses_line">
                    <div class="button_edit">
                      <button type="button">
                        <span class="expenses_button material-icons">edit</span>
                      </button>
                    </div>
                    <div class="button_delete">
                      <button type="button">
                        <span class="expenses_button material-icons">delete</span>
                      </button>
                    </div>
                  </td>-->
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</form>
