<form>
  <header>
    <span class="header_gtc">{{'gtc.header'|translate}}</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
  <div class="container">
    <div class="screen">
      <details>
        <summary>{{'gtc.Überschrift 1'|translate}}</summary>
        <li>{{'gtc.Text 1'|translate}}</li>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 2'|translate}}</summary>
        <p>{{'gtc.Text 2'|translate}} </p>
         <li> {{'gtc.Text 2.1'|translate}} </li>
         <li> {{'gtc.Text 2.2'|translate}}</li>
          <li> {{'gtc.Text 2.3'|translate}}</li>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 3'|translate}} </summary>
        <p>  {{'gtc.Text 3'|translate}} </p>
        <li> {{'gtc.Text 3.1'|translate}} </li>
        <li> {{'gtc.Text 3.2'|translate}}</li>
        <li> {{'gtc.Text 3.3'|translate}}</li>
        <li> {{'gtc.Text 3.4'|translate}}</li>
        <li> {{'gtc.Text 3.5'|translate}} </li>
        <p>  {{'gtc.Text 3.5'|translate}} </p>
        <p>  {{'gtc.Text 3.6'|translate}} </p>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 4'|translate}} </summary>
        <p>  {{'gtc.Text 4'|translate}} </p>
      </details>
    </div>
  </div>
  </body>
</form>
