<form>
  <header>
    <span class="header_gtc">{{'gtc.header'|translate}}</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
  <div class="container">
    <div class="screen">
      <details>
        <summary>{{'gtc.info'|translate}}</summary>
        <p>{{'gtc.Datenschutzerklärung-text'|translate}}</p>
      </details>
      <details>
        <summary>{{'gtc.Informationen über uns als Verantwortliche'|translate}}</summary>
        <p>{{'gtc.Verantwortliche'|translate}} </p>
         <li> {{'gtc.GmbH'|translate}} </li>
         <li> {{'gtc.Straße'|translate}}</li>
          <li> {{'gtc.Ort'|translate}}</li>
         <li> {{'gtc.Land'|translate}}</li>
          <li>{{'gtc.Telefon'|translate}} </li>
          <li>{{'gtc.Fax'|translate}} </li>
          <li> {{'gtc.Email'|translate}}</li>
          <li> {{'gtc.Datenschutzbeauftragter'|translate}}</li>
          <li> {{'gtc.Name'|translate}}</li>
          <li> {{'gtc.Straße2'|translate}}</li>
          <li> {{'gtc.Ort'|translate}}</li>
          <li> {{'gtc.Land'|translate}}</li>
          <li> {{'gtc.Telefon2'|translate}}</li>
          <li> {{'gtc.Telefax'|translate}}</li>
          <li> {{'gtc.E-Mail'|translate}}</li>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 2'|translate}} </summary>
        <p>  {{'gtc.Text2'|translate}} </p>
        <li> {{'gtc.Recht1'|translate}} </li>
        <li> {{'gtc.Recht2'|translate}}</li>
        <li> {{'gtc.Recht3'|translate}}</li>
        <li> {{'gtc.Recht4'|translate}}</li>
        <li>{{'gtc.Recht5'|translate}} </li>
        <p>{{'gtc.Text2.2'|translate}} </p>
        <p>{{'gtc.Text2.1'|translate}} </p>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 3'|translate}} </summary>
        <p>  {{'gtc.Text 3'|translate}} </p>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 4'|translate}} </summary>
        <p>  {{'gtc.Text 4'|translate}} </p>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 5'|translate}} </summary>
        <p>  {{'gtc.Text 5.1'|translate}} </p>
        <p>{{'gtc.Text 5.2'|translate}} </p>
        <p>{{'gtc.Text 5.3'|translate}} </p>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 6'|translate}} </summary>
        <p>  {{'gtc.Text 6'|translate}} </p>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 7'|translate}} </summary>
        <p>  {{'gtc.Text 7'|translate}} </p>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 8'|translate}} </summary>
        <p>  {{'gtc.Text 8'|translate}} </p>
      </details>
      <details>
        <summary>{{'gtc.Überschrift 9'|translate}} </summary>
        <p>  {{'gtc.Text 9'|translate}} </p>
      </details>
    </div>
  </div>
  </body>
</form>
