<form class="createInvite">
  <h1 class="header_Text">Einladungscode erstellen</h1>
    <input name="inviteCode" type="text" class="input_field" id="invite_Code" value="{{this.inviteCode}}" placeholder="Invite Code" readonly>
  <div class="row">
    <div class="column_save">
      <button type="button" id="save" (click)="createInvite()"><span class="group_create material-icons">restart_alt</span></button>
    </div>
    <div class="column_close">
      <button type="button" id="close" (click)="closeInvite()"><span class="group_create material-icons">close</span></button>
    </div>
  </div>
</form>
