<form>
  <div class="container">
    <div class="screen">
      <header>
        <div class="screen_content">
          <form class="password-forgotten" (ngSubmit)="savePassword(newPasswordForm)" #newPasswordForm="ngForm">
            <span class="header_Text">Passwort zurücksetzen</span>
            <div class="input_field">
              <input name="email" type="email" class="input_field" id="newForgottenEmail" ngModel placeholder="E-Mail">
            </div>
            <div class="input_field">
              <input name="password_1" type="{{showPassword ? 'text' : 'password' }}" class="input_field" id="newForgottenPassword" ngModel placeholder="Neues Passwort">
              <button type="button" class="show_passwort material-icons" (click)="togglePassword()" tabindex="-1">{{showPassword ? 'visibility_off' : 'visibility' }}</button>
            </div>
            <div class="input_field">
              <input name="password_2" type="{{showPasswordReplay ? 'text' : 'password' }}" class="input_field" id="newForgottenPasswordreplay" ngModel placeholder="Neues Passwort wiederholen">
              <button type="button" class="show_passwort material-icons" (click)="togglePasswordReplay()" tabindex="-1">{{showPasswordReplay ? 'visibility_off' : 'visibility' }}</button>
            </div>
            <div>
              <label class="sicherheit_Header">Sicherheitsfrage:
                <span class="sicherheit_Text">Wählen Sie 1 Frage aus!</span>
                <select name="securityQuestion" form="formularid" class="sicherheit_menu" ngModel>
                  <option value="BornCity">In welcher Stadt bzw. an welchem Ort wurden Sie geboren?</option>
                  <option value="MiddleName">Wie lautet der zweite Vorname Ihrer ältesten Schwester bzw. Ihres ältesten Bruders?</option>
                  <option value="FirstConcert">Welches war Ihr erstes Konzert, das Sie besucht haben?</option>
                  <option value="FirstCar">Geben Sie Marke und Modell Ihres ersten Autos an.</option>
                  <option value="MetParents">In welcher Stadt bzw. welchem Ort haben sich Ihre Eltern kennengelernt?</option>
                </select>
                <div class="sicherheit_field">
                  <input name="securityAnswer" type="text" class="sicherheit_field" id="Sicherheitsfrage" ngModel placeholder="Sicherheitsfrage" autocomplete="off">
                </div>
              </label>
            </div>
            <div class="row_button">
              <div class="column_button">
                <button type="submit" class="button new_password_submit" id="login">
                  <span class="button_text">speichern</span>
                </button>
              </div>
              <div class="column_button">
                <button type="button" class="button new_password_cancel" id="password" (click)="cancel()">
                  <span class="button">abbrechen</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </header>
      <body>
        <div class="screen_background">
          <span class="screen_background_shape screen_background_shape6"></span>
          <span class="screen_background_shape screen_background_shape5"></span>
          <span class="screen_background_shape screen_background_shape4"></span>
          <span class="screen_background_shape screen_background_shape3"></span>
          <span class="screen_background_shape screen_background_shape2"></span>
          <span class="screen_background_shape screen_background_shape1"></span>
        </div>
      </body>
    </div>
  </div>
</form>
