<form>
  <div class="container">
    <div class="screen">
      <header>
        <div class="screen_content">
          <form class="register" (ngSubmit)="registrationUser(signUpForm)" #signUpForm="ngForm">
            <span class="header_Text">{{'signup.header'| translate}}</span>
            <div class="row">
              <div class="column">
                <div class="input_field">
                  <input name="firstName" type="text" class="input_field" id="newUserFirstName" ngModel placeholder="{{'forename'| translate}}">
                </div>
                <div class="input_field">
                  <input name="lastName" type="text" class="input_field" id="newUserLastName" ngModel placeholder="{{'surname'| translate}}">
                </div>
                <div class="input_field">
                  <input name="email" type="email" class="input_field" id="newUserEmail" ngModel placeholder="{{'email'| translate}}">
                </div>
              </div>
              <div class="column">
                <div class="input_field">
                  <input name="password_1" type="{{showPassword ? 'text' : 'password' }}" class="input_field" id="newUserPassword" ngModel placeholder="{{'password'| translate}}">
                  <button type="button" class="show_passwort material-icons" (click)="togglePassword()" tabindex="-1">{{showPassword ? 'visibility_off' : 'visibility' }}</button>
                </div>
                <div class="input_field">
                  <input name="password_2" type="{{showPasswordReplay ? 'text' : 'password' }}" class="input_field" id="newUserPasswordreplay" ngModel placeholder="{{'signup.pwretype'| translate}}">
                  <button type="button" class="show_passwort material-icons" (click)="togglePasswordReplay()" tabindex="-1">{{showPasswordReplay ? 'visibility_off' : 'visibility' }}</button>
                </div>
                <input name="image" (change)="onChange($event)" type="file" class="input_file" id="inputImage" ngModel placeholder="{{'signup.logo'| translate}}" accept="image/png, image/jpeg">
              </div>
            </div>
            <div>
              <label class="sicherheit_Header">{{'secQuestion'| translate}}
                <span class="sicherheit_Text">{{'secLine'| translate}}</span>
                <select name="securityQuestion" form="formular1" class="sicherheit_menu" ngModel>
                  <ng-container *ngFor="let sQ of securityQuestion$ | async">
                    <option value="{{sQ.securityQuestionKey}}" translate="secSelection.{{sQ.securityQuestionKey}}"></option>
                  </ng-container>
                </select>
                <div class="sicherheit_field">
                  <input name="securityAnswer" type="text" class="sicherheit_field" id="Sicherheitsfrage" ngModel placeholder="{{'secAnswer'| translate}}" autocomplete="off">
                </div>
              </label>
            </div>
            <div class="row">
              <div class="column_button">
                <button type="submit" class="button register_submit" id="register">
                  <span class="button_text">{{'signup.register'| translate}}</span>
                </button>
              </div>
              <div class="column_button">
                <button type="button" class="button register_cancel" id="cancel" (click)="cancel()">
                  <span class="button_text">{{'signup.cancel'| translate}}</span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </header>
      <body>
        <div class="screen_background">
          <span class="screen_background_shape screen_background_shape6"></span>
          <span class="screen_background_shape screen_background_shape5"></span>
          <span class="screen_background_shape screen_background_shape4"></span>
          <span class="screen_background_shape screen_background_shape3"></span>
          <span class="screen_background_shape screen_background_shape2"></span>
          <span class="screen_background_shape screen_background_shape1"></span>
        </div>
      </body>
    </div>
  </div>
</form>
