* {
  box-sizing: border-box;
}

.header_groupname {
  color: black;
  font-size: 40px;
  width: 150px;
  font-family: Raleway, sans-serif;
  position: center;
}

.burgerMenu{
  font-size: 45px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.column_burger {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.column_menu {
  position: absolute;
  top: 25px;
  right: 610px;
}


/*
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column_ausgaben {
  text-align: left;
  width: 130px;
}

.column_categories {
  text-align: center;
  width: 130px;
}

.column_statistics {
  text-align: right;
  width: 130px;
}

.row_nav:after {
  content: "";
  display: table;
  clear: both;
}
*/

.button{
  text-align: center;
  width: 150px;
  position: absolute;
  top: 52px;
  left: 360px;
}

.sidebar {
  width: 150px;
  position: absolute;
  top: 10px;
  right: 25px;
}

.pages_menu {
  width: 100px;
  text-align: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: absolute;
  top: 65px;
  height: 730px;
  width: 1260px;
  box-shadow: 0px 0px 24px #5C5696;
}

.screen_content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.picture {
  position: absolute;
  top: 22px;
  left: 60px;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li {
  display: inline;
}

.user_table {
  font-size: x-large;
  border-collapse: collapse;
  border-spacing: 50px 10px;
  border-width: thin 0 0 thin;
  margin: 0 0 1em;
  table-layout: auto;
  max-width: 100%;
  width: 150px;
  padding: .3em .5em;
  position: absolute;
  text-align: center;
  height: 150px;
  top: 45px;
  right: 400px;
}

.user_table_header {
  border: thin solid white;
  padding: .4em .6em;
  background-color: gray;
  font-weight: 700;
}

.user_table_line {
  border: thin solid white;
}

.user_name {
  text-align: left;
  padding: .4em .6em;
}

.li_list {
  display: inline;
}
