<form>
  <header>
    <span class="material-icons burgerMenu" (click)="openMenu()">menu</span>
    <span class="header_groupname">Teddybär Bande</span>
  </header>
  <body>
    <div class="container">
      <div class="screen">
        <div class="button">
          <button type="button" (click)="ausgaben()"><span class="group_expenditures">Ausgaben</span></button>
          <!-- Anderer Sprint! -->
          <!--<button type="button" (click)="nofunction()"><span class="group_categories">Kategorien</span></button>
          <button type="button" (click)="nofunction()"><span class="group_statistics">Statistik</span></button>-->
        </div>
        <div class="picture">
          <img src='https://static.yoursurprise.com/galleryimage/c0/c073953ab71828a7741820d013ac9a9d/kuscheltier-mit-namen-aufblasbar_5.jpg?width=250&crop=1%3A1' alt="Bild der jeweiligen Gruppe.">
        </div>
        <ul class="sidebar">
          <li class="li_list">
            <div class="pages_menu">
              <!-- Anderer Sprint! -->
              <!--<button type="button" (click)="nofunction()"><span class="group_history material-icons">edit</span></button>
              <button type="button" (click)="nofunction()"><span class="group_history material-icons">add</span></button>
              <button type="button" (click)="nofunction()"><span class="group_history material-icons">delete</span></button>-->
              <button type="button" (click)="history()"><span class="group_history material-icons">history</span></button>
            </div>
          </li>
        </ul>
        <table class="user_table">
          <thead>
            <tr>
              <th class="user_table_header">
                <p>Gruppenmitglieder:</p>
              </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let u of user$ | async">
              <tr class="user_table_line">
                <td class="user_name">{{u.firstName}} {{u.lastName}}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div id="console">
          </div>
      </div>
    </div>
  </body>
</form>
