<form>
  <ng-container>
    <header>
      <span class="header_name">{{group.groupName}}</span>
      <span class="material-icons burgerMenu">
        <app-menu-view></app-menu-view>
      </span>
    </header>
    <body>
      <div class="container">
        <div class="screen">
          <div class="button">
            <button type="button" (click)="expenses()" translate="group.expenses"></button>
            <button type="button" (click)="categorys()" translate="group.categorys"></button>
            <button type="button" (click)="history()" translate="group.history"></button>
          </div>
          <div class="picture">
            <img src={{group.image}} alt="">
          </div>
          <ul class="sidebar">
            <li class="li_list">
              <div class="pages_menu">
                <button type="button" (click)="editGroupDialog()"><span class="group_history material-icons">edit</span></button>
                <button type="button" (click)="createInviteDialog()"><span class="group_history material-icons">add</span></button>
                <button type="button" (click)="deleteUserDialog()"><span class="group_history material-icons">delete</span></button>
              </div>
            </li>
          </ul>
          <table class="user_table">
            <thead>
              <tr>
                <th class="user_table_header" translate="group.member"></th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let u of user$ | async">
                <tr class="user_table_line">
                  <td class="user_name">{{u.firstName}} {{u.lastName}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </body>
  </ng-container>
</form>
