* {
  box-sizing: border-box;
}

.header_name {
  position: absolute;
  width: 98%;
  top: 3%;
  text-align: center;
  color: black;
  font-size: 300%;
  font-family: Raleway, sans-serif;
}

.burgerMenu{
  position: absolute;
  top: 3%;
  left: 3%;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.pages_menu {
  width: 100%;
  text-align: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: absolute;
  top: 10%;
  height: 85%;
  width: 90%;
}

.screen_content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.button{
  text-align: center;
  width: 150px;
  position: absolute;
  top: 90px;
  right: 25px;
}

.sidebar {
  width: 150px;
  position: absolute;
  bottom: 50px;
  right: 25px;
}

.picture {
  position: absolute;
  top: 5%;
  left: 41%;
}

.ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.li {
  display: inline;
}

.user_table {
  font-size: x-large;
  border-collapse: collapse;
  border-spacing: 50px 10px;
  border-width: thin 0 0 thin;
  margin: 0 0 1em;
  table-layout: auto;
  max-width: 100%;
  width: 30%;
  padding: .3em .5em;
  position: absolute;
  text-align: center;
  height: 30%;
  top: 40%;
  left: 33%;
}

.user_table_header {
  border: thin solid white;
  padding: .4em .4em;
  background-color: #b0b0b0;
  font-weight: 700;
}

.user_table_line {
  border: thin solid white;
}

.user_name {
  text-align: left;
  padding: .4em .6em;
}

.li_list {
  display: inline;
}

#console {
  font-size: x-large;
  padding: .3em .5em;
  border-style: solid;
  border-color: white;
  width: 35%;
  height: 50%;
  position: absolute;
  top: 43%;
  left: 10%;
  overflow-y: scroll;
}
