<form>
  <header>
    <div class="button_back">
      <button type="button" (click)="back()"><span class="issues_back material-icons">arrow_back</span></button>
    </div>
    <span class="header_new_issues">Ausgaben hinzufügen</span>
  </header>
  <body>
    <div class="container">
      <div class="screen">
        <form (ngSubmit)="save(newIssuesForm)" #newIssuesForm="ngForm">
          <div class="screen_issues">
            <div class="line_issues">
              <table>
                <ng-container *ngFor="let index of [].constructor(this.index)">
                  <tr>
                    <td>
                      <div class="column_category">
                        <div class="row">
                          <div class="column">
                            <label for="category"><p>Kategorie:&nbsp;</p></label>
                          </div>
                          <div class="column">
                            <select name="subject" id="category" form="formular1" class="category_menu" ngModel>
                              <option value="noSelection"></option>
                              <option value="Rent">Miete</option>
                              <option value="Purchasing">Einkauf</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="column_issues">
                        <div class="row">
                          <div class="column">
                            <input name="amount" type="text" class="input_field" id="Issues_price" ngModel placeholder="Betrag">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="column_price">
                        <div class="row">
                          <div class="column">
                            <input name="date" type="text" class="input_field" id="Issues_date" ngModel placeholder="Datum">
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </ng-container>
              </table>
            </div>
          </div>
          <div class="button_add">
            <button type="button" (click)="add()"><span class="issues_back material-icons">add</span></button>
          </div>
          <div class="button_save">
            <button type="submit" onclick="this.classList.toggle('button-loading')"><span class="issues_save material-icons">save</span></button>
          </div>
        </form>
      </div>
    </div>
  </body>
</form>
