<form>
  <header>
    <span class="header_gtc">{{'imprint.header'|translate}}</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
  <div class="container">
    <div class="screen">
      <h1> {{'imprint.Angaben'|translate}} </h1>
      <li> {{'imprint.GmbH'|translate}} </li>
        <li> {{'imprint.Straße'|translate}}</li>
        <li> {{'imprint.Ort'|translate}}</li>
        <li> {{'imprint.Land'|translate}}</li>
        <li>{{'imprint.Telefon'|translate}} </li>
        <li>{{'imprint.Fax'|translate}} </li>
        <li> {{'imprint.Email'|translate}}</li>
        <h2> {{'imprint.Vertretungsberechtigter'|translate}}</h2>
        <li> {{'imprint.Name'|translate}}</li>
        <li> {{'imprint.Straße2'|translate}}</li>
        <li> {{'imprint.Ort'|translate}}</li>
        <li> {{'imprint.Land'|translate}}</li>
        <li> {{'imprint.Telefon2'|translate}}</li>
        <li> {{'imprint.Telefax'|translate}}</li>
        <li> {{'imprint.E-Mail'|translate}}</li>
    </div>
  </div>
  </body>
</form>
