* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Raleway, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 600px;
  width: 560px;
  box-shadow: 0px 0px 24px #5C5696;
}

.screen_content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.screen_background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}

.screen_background_shape1 {
  height: 520px;
  width: 520px;
  background: #ffffff;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 72px 0;
  transform: rotate(45deg);
}

.screen_background_shape2 {
  height: 220px;
  width: 220px;
  background: #A4A4A4;
  top: -172px;
  right: 0;
  border-radius: 32px;
}

.screen_background_shape3 {
  height: 540px;
  width: 190px;
  background: linear-gradient(270deg, #585858, #A4A4A4);
  top: -24px;
  right: 0;
  border-radius: 32px;
}

.screen_background_shape4 {
  height: 400px;
  width: 200px;
  background: #585858;
  top: 420px;
  right: 50px;
  border-radius: 60px;
}
.screen_background_shape5 {
  height: 200px;
  width: 200px;
  background: #434344;
  top: 530px;
  left: -50px;
  border-radius: 32px;
}

.screen_background_shape6 {
  height: 150px;
  width: 150px;
  background: #585858;
  top: 450px;
  left: 150px;
  border-radius: 32px;
}

.password-forgotten {
  width: 550px;
  padding: 20px;
  padding-top: 75px;
}

.header_Text {
  color: #7875B5;
  text-shadow: black;
  font-size: 20px;
}

.input_field {
  padding: 10px 0px;
  position: relative;
}

.input_field:active,
.input_field:focus,
.input_field:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

.column_button {
  float: left;
  width: 160px;
}

/* Neues Passwort Button */
.new_password_submit {
  background: #fff;
  font-size: 16px;
  padding: 16px 20px;
  border-radius: 20px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 90%;
  color: #4C489D;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
  outline: none;
  position: relative;
}

.new_password_submit:active,
.new_password_submit:focus,
.new_password_submit:hover {
  border-color: #6A679E;
  outline: none;
}

.button-loading .button_text {
  visibility: hidden;
  opacity: 0;
}

.button-loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #4C489D;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

/* Cancel Button */
.new_password_cancel {
  background: #fff;
  font-size: 16px;
  padding: 16px 20px;
  border-radius: 20px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 90%;
  color: #4C489D;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
}

.new_password_cancel:active,
.new_password_cancel:focus,
.new_password_cancel:hover {
  border-color: #6A679E;
  outline: none;
}

.sicherheit_Header {
  color: #7875B5;
  text-shadow: black;
  font-size: 20px;
}

.sicherheit_Text {
  font-size: 11px;
}

.sicherheit_menu {
  border-radius: 20px;
  width: 75%;
}

.sicherheit_field {
  padding: 10px 0px;
  position: relative;
  width: 75%;
}

.sicherheit_field:active,
.sicherheit_field:focus,
.sicherheit_field:hover {
  outline: none;
  border-bottom-color: #6A679E;
}
