* {
  box-sizing: border-box;
}

.header_history {
  position: absolute;
  width: 98%;
  top: 3%;
  text-align: center;
  color: black;
  font-size: 300%;
  font-family: Raleway, sans-serif;
}

.pages_menu {
  width: 100%;
  text-align: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: absolute;
  top: 10%;
  height: 85%;
  width: 90%;
}

.screen_content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.button{
  position: absolute;
  top: 1%;
  left: 1%;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.input_field {
  position: relative;
  top: 5%;
  left: 31%;
  width: 20%;
}

.input_field:active,
.input_field:focus,
.input_field:hover {
  outline: none;
  border-bottom-color: #6A679E;
}

#console {
  font-size: x-large;
  border-spacing: 50px 10px;
  padding: .3em .5em;
  border-style: solid;
  border-color: white;
  width: 60%;
  height: 80%;
  position: absolute;
  top: 10%;
  left: 20%;
  overflow-y: scroll;
}
