<form>
  <header>
    <span class="header_history">{{'history.header'|translate}}</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
  <div class="container">
    <div class="screen">
      <input id="Search" type="text" name="search" class="input_field" [(ngModel)]="searchTerm" placeholder="{{'history.search'|translate}}">
      <div id="console">
        <ng-container *ngFor="let h of history$ | async | historyFilter:searchTerm">
          <p><b>{{h.actionName}}</b>| {{h.additionalInformation}}</p>
        </ng-container>
      </div>
    </div>
  </div>
  </body>
</form>
