<form>
  <header>
    <div class="button">
      <button type="button" (click)="back()"><span class="group_create material-icons">arrow_back</span></button>
    </div>
    <span class="header_history">History</span>
  </header>
  <body>
  <div class="container">
    <div class="screen">
      <!-- Anderer Sprint! -->
      <!--<div class="input_field">
        <input type="text" class="input_field" id="Search" placeholder="Search">
      </div>-->
      <div id="console">
        <ng-container *ngFor="let h of history$ | async">
          <p>{{h.text}}</p>
        </ng-container>
      </div>
    </div>
  </div>
  </body>
</form>
