<form>
  <header>
    <div class="button">
      <button type="button" (click)="back()"><span class="group_create material-icons">arrow_back</span></button>
    </div>
    <span class="header_history">History</span>
  </header>
  <body>
  <div class="container">
    <div class="screen">
      <!--<div class="input_field">
        <input type="text" class="input_field" id="Search" placeholder="Search">
      </div>-->
      <div id="console">
        <!-- <b>..</b> werden Suchbegriffe werden. Wenn dies umsetzbar ist. -->
        <p><b>Lisa</b> hat am <b>02.11.2021</b> die Gruppe <b>Teddybär Bande</b> <b> erstellt</b>.</p>
        <p>Es wurde am <b>02.11.2021</b> einen <b>Einladungslink</b> <b> generiert</b>.</p>
        <p><b>Max</b> ist am <b>03.11.2021</b> über den <b>Einaldungslink</b> <b> beigetreten</b>.</p>
        <p><b>Lisa</b> hat am <b>04.11.2021</b> eine <b>Ausgabe</b> im Wert von <b>21,34€</b> <b> hinzugefügt</b>.</p>
        <p><b>Max</b> hat am <b>06.11.2021</b> eine <b>Ausgabe</b> im Wert von <b>74,12€</b> <b> hinzugefügt</b>.</p>
        <p><b>Leon</b> ist am <b>06.11.2021</b> über den <b>Einaldungslink</b> <b> beigetreten</b>.</p>
      </div>
    </div>
  </div>
  </body>
</form>
