<form>
  <header>
    <span class="header_name">Passwort ändern</span>
  </header>
  <body>
    <form (ngSubmit)="saveNewPassword(editPasswordForm)" #editPasswordForm="ngForm">
      <div class="container">
        <div class="screen">
            <div class="screen_content">
                <div class="input_field">
                  <input name="email" type="email" class="input_field" id="newForgottenEmail" ngModel placeholder="E-Mail">
                  <input name="password_1" class="input_field" id="newForgottenPassword" ngModel placeholder="Neues Passwort">
                  <input name="password_2"class="input_field" id="newForgottenPasswordreplay" ngModel placeholder="Neues Passwort wiederholen">
                </div>
                <div class="button">
                  <button type="submit" class="button new_password_submit" id="login">
                    <span class="button_text">speichern</span>
                  </button>
                  <button type="button" class="button new_password_cancel" id="password" (click)="back()">
                    <span class="button_text">abbrechen</span>
                  </button>
                </div>
            </div>
        </div>
      </div>
    </form>
  </body>
</form>
