<form>
  <header>
    <span class="header_name">{{'editPassword.header'|translate}}</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
    <form (ngSubmit)="saveNewPassword(editPasswordForm)" #editPasswordForm="ngForm">
      <div class="container">
        <div class="screen">
          <div class="field">
            <div class="input_field">
              <input name="password_old" type="{{showPasswordOld ? 'text' : 'password' }}" class="input_field"  ngModel placeholder="{{'editPassword.passwordOld'| translate}}">
              <button type="button" class="show_passwort material-icons" (click)="togglePasswordOld()" tabindex="-1">{{showPasswordOld ? 'visibility_off' : 'visibility' }}</button>
            </div>
            <div class="input_field">
              <input name="password_1" type="{{showPassword ? 'text' : 'password' }}" class="input_field" id="newUserPassword" ngModel placeholder="{{'editPassword.password'| translate}}">
              <button type="button" class="show_passwort material-icons" (click)="togglePassword()" tabindex="-1">{{showPassword ? 'visibility_off' : 'visibility' }}</button>
            </div>
            <div class="input_field">
              <input name="password_2" type="{{showPasswordReplay ? 'text' : 'password' }}" class="input_field" id="newUserPasswordreplay" ngModel placeholder="{{'editPassword.pwretype'| translate}}">
              <button type="button" class="show_passwort material-icons" (click)="togglePasswordReplay()" tabindex="-1">{{showPasswordReplay ? 'visibility_off' : 'visibility' }}</button>
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <button id="speichern" type="submit" ide="profile">{{'saveBtn'|translate}}</button>
      </div>
    </form>
  </body>
</form>
