<form>
  <header>
    <span class="header_name">{{'editPassword.header'|translate}}</span>
    <div class="button_back">
      <button type="button" class="back_icon" (click)="back()"><span class="material-icons">arrow_back</span></button>
    </div>
  </header>
  <body>
    <form (ngSubmit)="saveNewPassword(editPasswordForm)" #editPasswordForm="ngForm">
      <div class="container">
        <div class="screen">
            <div class="screen_content">
                <div class="input_field">
                  <label class="label">{{'email'|translate}}</label><br>
                  <input type="text" id="newForgottenEmail" name="email" placeholder="{{'email'|translate}}"><br><br>
                  <label class="label">{{'password'|translate}}</label><br>
                  <input type="text" id="newForgottenPassword" name="password_1" placeholder="{{'password'|translate}}"><br><br>
                  <label class="label">{{'editPassword.pwretype'|translate}}</label><br>
                  <input type="text" id="newForgottenPasswordreplay" name="password_2" placeholder="{{'editPassword.pwretype'|translate}}"><br><br>
                </div>
            </div>
        </div>
      </div>
      <div class="button">
        <button id="speichern" type="button" ide="profile">{{'saveBtn'|translate}}</button>
      </div>
    </form>
  </body>
</form>
