* {
  box-sizing: border-box;
}

.header_name {
  position: absolute;
  width: 98%;
  top: 15px;
  text-align: center;
  color: black;
  font-size: 40px;
  font-family: Raleway, sans-serif;
}

.burgerMenu{
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 45px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.button{
  text-align: center;
  width: 180px;
  position: absolute;
  top: 90px;
  right: 25px;
}

.new_password_submit {
  background: #fff;
  font-size: 16px;
  padding: 16px 20px;
  border-radius: 20px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4C489D;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
  outline: none;
  position: relative;
}

.new_password_submit:active,
.new_password_submit:focus,
.new_password_submit:hover {
  border-color: #6A679E;
  outline: none;
}

/* Cancel Button */
.new_password_cancel {
  background: #fff;
  font-size: 16px;
  padding: 16px 20px;
  border-radius: 20px;
  border: 1px solid #D4D3E8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #4C489D;
  margin-bottom: 10px;
  box-shadow: 0px 2px 2px #5C5696;
  cursor: pointer;
  transition: .2s;
  outline: none;
  position: relative;
}

.column_button {
  width: 50%;
  text-align: center;
}

.pages_menu {
  width: 100px;
  text-align: right;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 85vh;
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: absolute;
  top: 65px;
  height: 730px;
  width: 1260px;
  box-shadow: 0px 0px 24px #5C5696;
}

.screen_content {
  z-index: 1;
  position: relative;
  height: 100%;
}

div {
  border-radius: 5px;
  padding: 20px;
}

.input_field{
  width: 70%;
}


