<form>
  <header>
    <form class="createGroup">
      <h1 class="header_Text">Neue Gruppe!</h1>
          <input type="file" class="input_file" id="inputImage" placeholder="Logo" accept="image/png, image/jpeg">
          <input type="text" class="input_field" id="GroupName" placeholder="Group Name">
      <div class="row">
        <div class="column_save">
          <button type="button" id="save" (click)="createGroup()"><span class="group_create material-icons">save</span></button>
        </div>
        <div class="column_close">
          <button type="button" id="close" (click)="onNoClick()"><span class="group_create material-icons">close</span></button>
        </div>
      </div>
    </form>
  </header>
  <body>
  </body>
</form>
