* {
  box-sizing: border-box;
}

.header_Text {
  color: #7875B5;
  text-shadow: black;
  font-size: 180%;
}

.column_select {
  float: left;
  padding: 2%;
  position: relative;
}

.column_save {
  float: left;
  width: 45%;
}

.column_close {
  float: right;
  width: 45%;
 }

.row:after {
  content: "";
  display: table;
  clear: both;
}
