<form (ngSubmit)="appComp.useLanguage(language)" #language="ngForm">
  <h4 class="header_Text">{{'language.header'| translate}}</h4>
  <div class="row">
    <div class="column_select">
      <mat-form-field appearance="fill">
        <mat-label>{{'language.language'| translate}}</mat-label>
        <mat-select name="language" ngModel>
          <mat-option value="de">{{'language.german'| translate}}</mat-option>
          <mat-option value="en">{{'language.english'| translate}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="column_button">
      <button type="submit"><span class="material-icons">save</span></button>
    </div>
  </div>
</form>
