<form>
  <h4 class="header_Text">{{'currency.header'| translate}}</h4>
  <div class="row">
    <div class="column_select">
      <mat-form-field appearance="fill">
        <mat-label>{{'currency.currency'| translate}}</mat-label>
        <mat-select>
          <mat-option value="eur">EUR</mat-option>
          <mat-option value="usd">USD</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="column_button">
      <button type="submit"><span class="material-icons">save</span></button>
    </div>
  </div>
</form>
